body{
	height: 100hv;
	display: flex;
	justify-content: center;
}
#title{
	background-color: cornflowerblue;
	width: 12.5rem;
	
}
h1{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
	margin-left: 20px;
	color: white;
	font-size:xx-large;
}
ul{
	list-style-type: none;
}
.items{
	display:inline-flex;
	margin-right: 40px;
}
strong{
	font-family:"microsoft yahei";
	font-size: large;
}
hr{
	display: none;
}